@import "mixins";
@import "vars";
@import "container";
.index-main {
  background-image: url(../img/images.);
}

.unlesh {
  width: 80%;
  margin: 0 auto;
  margin-top: 95px;
  margin-bottom: 34px;

  &__h1 {
    font-family: "Ultra";
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 94px;
    /* or 138% */

    text-align: center;
    letter-spacing: 5.33333px;
    text-transform: uppercase;

    color: #ffffff;
  }
  &__img {
    width: 66px;
  }
  &__container {
    width: 80%;
    margin: auto;
  }
  &__p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 51px;
    /* or 171% */

    text-align: center;

    color: #eaeaea;
    margin-bottom: 80px;
  }
  &__container2 {
    display: flex;
    justify-content: space-between;
    gap: 34px;
    width: 500px;
    margin: auto;
  }
  &__button {
    width: 255.64px;
    height: 73.87px;

    background: #0f7948;
    border-radius: 35.8788px;
    transition: all 0.5s;
    &:hover {
      background-color: #044b2a;
    }
  }
  &__button2 {
    width: 255.64px;
    height: 73.87px;
    background: #050505;

    border: 1px solid white;
    border-radius: 35.8788px;
    transition: all 0.4s;
    &:hover {
      background-color: #044b2a;
    }
  }
  & a {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 43px;
    /* or 166% */

    text-align: center;
    text-transform: uppercase;

    color: #eaeaea;
    text-decoration: none;
  }
}
footer {
  height: 100px;

  margin-top: 200px;
  background-image: url("../img/images.png");
  margin-bottom: 50px;
}
